%div(id="deploy" class="container")
  %form(action="#{sandbox_context.path}/deploy" method="post")
    %input(type="hidden" name="deploy_token" value="#{render_deploy_token}")
    %div
      %label(for = "repo") Repository url
      %input(type="text" name="repo" id="repo" size="38")
    %div
      %label(for = "branch") Branch
      %input(type="text" name="branch" id="branch" size="38")
    %div
      %label(for = "path") Application path
      %input(type="text" name="path" id="path" size="38")
    %div
      %button(type="submit" data-disable-with="Please wait...") Deploy
#git-hook
  %p Use <span>http://#{render_host_name}/sandbox/deploy?deploy_token=#{render_deploy_token}</span> as a Post-Receive URL on Github.
