#deploy
  %form(action="#{sandbox_context.path}/deploy" method="post")
    %ol
      %li
        %label(for = "repo") Git repository
        %input(type="text" name="repo" id="repo")
      %li
        %label(for = "branch") Branch
        %input(type="text" name="branch" id="branch")
      %li
        %label(for = "path") Path
        %input(type="text" name="path" id="path")
      %li
        %button(type="submit") Deploy
